**/venv/
**/venv.bak/
**/__pycache__/
**/*.log
.git
*.Dockerfile
*.yaml
.bash_history
.sudo_as_admin_successful
.vscode/
*.md
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.mypy_cache
.pytest_cache
.hypothesis
