*.sqlite3
.env/
userfiles/
venv/
venv2/
.idea/
*.pyc
media
**/__pycache__/
.DS_Store
.vscode/
classes.dot
db.sqlite3
celerybeat-schedule
.coverage
**/*.log
static/
.git/
.bash_history
.python_history
.sudo_as_admin_successful

