#security & encryption
cryptography==39.0.1

#django ver
Django==3.2.18

#celery
celery==5.2.7

#django utilities
django-cors-headers==3.13.0
djangorestframework==3.13.1
django-unixtimestampfield==0.5.0
uvicorn==0.18.2

#swagger
drf-yasg==1.20.0

#telegram
python-telegram-bot==13.13

#outbounds
requests==2.28.1

#redis
django-redis==5.2.0

#postgres
psycopg2-binary==2.9.3
